/* main settings (start) */
:root {
  --white-color: #ffffff;
  --lite-white-color: rgba(255, 255, 255, 0.3);
  --darker-white-color: #eeeeee;
  --light-white-color: #f2f2f2;
  --light-darker-white-color: #ffffffe5;
  --light-blue-color: #b4d6ec;
  --light-darker-blue-color: #81b3d2;
  --light-dark-blue-color: #669ec0;
  --darker-blue-color: #5496bd;
  --black-color: #000000;
  --very-light-black-color: rgba(163, 163, 163, 1);
  --wet-asphalt-color: #333333;
  --light-wet-asphalt-color: #766357;
  --light-dark-wet-asphalt-color: #666666;
  --light-grey-color: #b3b3b3;
  --lighter-grey-color: #e5e5e5;
  --very-light-grey-color: #bdbbbc;
  --dark-dune-orange-color: #766357;
  --brown-color: #604e43;
  --dark-brown-color: #503e33;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("PTSans"), /* Если не получилось, загрузит woff2 */ url("../fonts/PTSans.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */ url("../fonts/PTSans.woff") format("woff");
  src: local("PTSans"), /* Если не получилось, загрузит woff2 */ url("../fonts/PTSans-Bold.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */ url("../fonts/PTSans-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: var(--light-white-color);
}

body {
  width: 1200px;

  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: var(--black-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: 0 0 60px 0 var(--very-light-black-color);
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

main {
  width: 100%;

  margin-top: -16px;

  display: grid;
  justify-items: center;
  align-content: center;

  background-color: var(--light-darker-white-color);
}
/* main settings (end) */

/* header (start) */
.header {
  width: 1200px;

  display: grid;
  align-items: center;
  justify-items: center;

  background-color: var(--light-darker-white-color);
}

.header__logo {
  background-color: transparent;

  z-index: 1;
}

.header__logo-disabled {
  cursor: default;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;
}

.header__nav-container {
  width: 100%;
  min-height: 56px;

  margin-top: -90px;

  display: flex;
  justify-content: space-between;
}

.header__nav-items {
  list-style: none;
}

.header__nav-links {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
}
.header__nav-links:hover {
  color: var(--light-darker-blue-color);
  transition: 0.5s;
}
.header__nav-links:active {
  mix-blend-mode: normal;
  color: var(--light-grey-color);
}
.header__nav-links:focus {
  color: var(--light-wet-asphalt-color);
}
/* header (end) */

/* Главная (start) */
.welcome {
  width: 100%;
  min-height: 509px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-blue-color);
}

.welcome__img-white-mask {
  position: absolute;
  bottom: 0;
}

.city {
  width: 100%;
  min-height: 216px;

  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.city__lists-container {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.city__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);
}

.city__add-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);
}

.city__lists-group {
  width: fit-content;

  background-color: var(--light-darker-blue-color);
}

.city__lists-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
}

.city__lists-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
}

.city__lists-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
}

.city__lists-img {
  min-width: 100%;

  background-color: var(--light-blue-color);
}

.city__lists-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.city__lists-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.city__lists-descr-add-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: var(--black-color);
  text-transform: uppercase;
}

.city__lists-descr-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--wet-asphalt-color);
  text-transform: uppercase;
}

.city__lists-container-add {
  background-color: var(--darker-white-color);
}

.city__lists-header-add {
  color: var(--black-color);
}

.city__lists-number-add {
  color: var(--wet-asphalt-color);
}

.city__lists-info-add {
  color: var(--wet-asphalt-color);
}

.interesting__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--black-color);
  text-transform: uppercase;
}

.interesting__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--wet-asphalt-color);
  text-transform: uppercase;
}

.interesting__btn-search {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  transition: 0.6s;

  display: flex;

  margin-left: auto;
  margin-right: auto;

  border: none;
  background-color: var(--dark-dune-orange-color);
}
.interesting__btn-search:hover {
  cursor: pointer;

  transition: 0.5s;

  background-color: var(--brown-color);
}
.interesting__btn-search:active {
  cursor: pointer;

  transition: 0.5s;

  background-color: var(--dark-brown-color);
}
.interesting__btn-search-add {
  transition: 0.6s;
}
.interesting__btn-search:active .interesting__btn-search-add {
  mix-blend-mode: normal;
  transition: 0.5s;
  opacity: 0.3;
}

.interesting__map {
  background-color: var(--light-blue-color);
}
/* Главная (end) */

/* Blank (start) */
.body-sticky {
  height: 100vh;
}

.header-sticky {
  position: absolute;
  top: 0;
}

.blank {
  height: 100%;
}

.blank__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.footer-sticky {
  position: absolute;
  bottom: 0;
}
/* Blank (end) */

/* Каталог (start) */
.search-filter {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-filter__container {
  width: 100%;
  min-height: 217px;

  background-color: var(--light-blue-color);
}

.search-filter__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-filter__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-filter__inner-special {
  flex-direction: column;
}

.search-filter__border {
  border: none;
}

.search-filter__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-color);
}

.search-filter__item {
  cursor: default;
}

.search-filter__item-special {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-color);

  border: 1px solid var(--white-color);

  background-color: transparent;
}
.search-filter__item-special:hover {
  cursor: default;
}

.search-filter__label-special-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-color);

  border: none;

  background-color: transparent;
}

.search-filter__checkbox:hover {
  cursor: pointer;
}

.search-filter__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-color);
}
.search-filter__label:hover {
  cursor: pointer;
}

.search-filter__item {
  list-style: none;
}

.search-filter__go-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-color);

  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 2px;

  transition: 0.6s;

  background-color: transparent;
}
.search-filter__go-button:hover {
  cursor: pointer;

  color: var(--black-color);

  transition: 0.5s;

  background-color: var(--white-color);
}

.search-filter__result {
  width: 100%;
  min-height: 540px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-filter__box {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filter__box-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filter__result-info-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-color);

  transition: 0.6s;
}
.search-filter__result-info-header:hover {
  color: var(--light-darker-blue-color);

  transition: 0.5s;
}
.search-filter__result-info-header:active {
  color: var(--black-color);

  mix-blend-mode: normal;
  opacity: 0.3;

  transition: 0.5s;
}

.search-filter__result-inner {
  display: flex;
}

.search-filter__result-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--wet-asphalt-color);
}

.search-filter__result-box-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}
.search-filter__result-box-text:hover {
  cursor: pointer;
}

.search-filter__result-box-href {
  transition: 0.6s;

  background-color: var(--light-darker-blue-color);
}
.search-filter__result-box-href:hover {
  transition: 0.5s;

  background-color: var(--light-dark-blue-color);
}
.search-filter__result-box-href:active {
  transition: 0.5s;

  mix-blend-mode: normal;

  color: var(--lite-white-color);

  background-color: var(--darker-blue-color);
}

.search-filter__result-box-reserve {
  border: none;

  transition: 0.6s;

  background-color: var(--dark-dune-orange-color);
}
.search-filter__result-box-reserve:hover {
  border: none;

  transition: 0.5s;

  background-color: var(--brown-color);
}
.search-filter__result-box-reserve:active {
  border: none;

  transition: 0.5s;

  mix-blend-mode: normal;

  color: var(--lite-white-color);

  background-color: var(--dark-brown-color);
}

.search-filter__box-result {
  display: flex;
}

.search-filter__result-rating-box {
  display: flex;

  background-color: var(--light-white-color);
}

.search-filter__result-rating-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--light-dark-wet-asphalt-color);
}

.search-filter__text-main {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-color);
}

.search-filter__settings {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filter__text-sort-main {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-color);
}
.search-filter__text-sort-main:hover {
  cursor: pointer;
}

.search-filter__text-sort-main-disabled:hover {
  cursor: text;
}

.search-filter__text-sort-main-special {
  mix-blend-mode: normal;
  opacity: 0.3;
}
.search-filter__text-sort-main-special:hover {
  opacity: 1;

  color: var(--light-darker-blue-color);
  transition: 0.5s;
}
.search-filter__text-sort-main-special:active {
  color: var(--black-color);
  transition: 0.5s;
}
.search-filter__text-sort-main-special:focus {
  opacity: 1;

  color: var(--light-darker-blue-color);
  transition: 0.5s;
}
.search-filter__text-sort-main-special::after {
  content: " ";

  display: block;

  opacity: 1;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}
.search-filter__text-sort-main-special:hover::after {
  content: " ";

  display: block;

  opacity: 1;

  transition: 0.5s;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}
.search-filter__text-sort-main-special:active::after {
  content: " ";

  display: block;

  opacity: 0;

  transition: 0.5s;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}
.search-filter__text-sort-main-special:focus::after {
  content: " ";

  display: block;

  opacity: 0;

  transition: 0.5s;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}

.search-filter__text-sort-price-active {
  color: var(--light-darker-blue-color);

  opacity: 1;
}
.search-filter__text-sort-price-active:focus {
  opacity: 1;
}
.search-filter__text-sort-price-active:focus::after {
  content: " ";

  display: block;

  opacity: 0;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}
.search-filter__text-sort-price-active::after {
  content: " ";

  display: block;

  opacity: 0;

  border-bottom: 1px dashed var(--light-darker-blue-color);
}

.search-filter__text-sort-down {
  display: inline-block;
  transform: rotate(180deg);
}

.search-filter__text-sort-active path {
  fill: var(--light-darker-blue-color);

  transition: 0.6s;
}

.search-filter__text-sort-main-setting .search-filter__text-sort-not-active path:hover {
  fill: var(--black-color);

  transition: 0.5s;
}
.search-filter__text-sort-main-setting .search-filter__text-sort-not-active path:active {
  fill: var(--light-darker-blue-color);

  transition: 0.5s;
}
.search-filter__text-sort-main-setting:focus .search-filter__text-sort-not-active path {
  fill: var(--light-darker-blue-color);

  transition: 0.5s;
}

.search-filter__result-info {
  list-style: none;

  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.search-filter__result-info-item {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  border-top: 1px solid var(--lighter-grey-color);
}

.search-filter__result-info-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.search-filter__result-info-img {
  background-color: var(--light-blue-color);
}
/* Каталог (end) */

/* Подвал (start) */
.footer {
  width: 1200px;
  min-height: 120px;

  display: grid;
  flex-direction: row;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--light-darker-white-color);
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__container-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container-social {
  min-width: 100px;
}

.footer__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
  transition: 0.6s;
}
.footer__link:hover {
  cursor: pointer;

  color: var(--light-darker-blue-color);
  transition: 0.5s;
}
.footer__links:active {
  mix-blend-mode: normal;
  color: var(--light-grey-color);
}
.footer__link:focus {
  color: var(--light-wet-asphalt-color);
}

.footer__link-disabled {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);

  cursor: default;
}

.footer__link-social {
  width: 46px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  transition: 0.6s;

  background-color: var(--light-darker-blue-color);
}
.footer__link-social:hover {
  background-color: var(--light-dark-blue-color);

  transition: 0.5s;
}
.footer__link-social:active {
  background-color: var(--darker-blue-color);
  transition: 0.6s;
}
.footer__link-social:active .footer__img-social {
  mix-blend-mode: normal;
  opacity: 0.3;
  transition: 0.5s;
}

.footer__link-author {
  transition: 0.6s;
}
.footer__link-author:hover path {
  fill: var(--light-blue-color);
  transition: 0.5s;
}
.footer__link-author:active path {
  fill: var(--very-light-grey-color);
}
/* Подвал (end) */

/* Всплывающее окно (start) */
.modal {
  display: none;

  /* display: grid; */

  background-color: var(--light-darker-white-color);
}
/* Всплывающее окно (end) */
